Flow 4/Flow 4.json
[
    {
        "id": "6e93f3a1a3a75302",
        "type": "tab",
        "label": "Flow 4 - G5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa86253393e79036",
        "type": "mqtt in",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "topic": "codigoIoT/SIC/G5/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "ca462e86c2aa4086",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "3a9a24ee053e064e"
            ]
        ]
    },
    {
        "id": "3a9a24ee053e064e",
        "type": "json",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "b52b984ff334ae2a",
                "b745767b866414ed",
                "fdfc61f25c5d4a11",
                "da6cded5640f9db9"
            ]
        ]
    },
    {
        "id": "358817d577cc378e",
        "type": "ui_text",
        "z": "6e93f3a1a3a75302",
        "group": "07f133ac837a40cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "6bf937ceb74301d1",
        "type": "ui_gauge",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "group": "07f133ac837a40cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ultima temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "b52b984ff334ae2a",
        "type": "function",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "358817d577cc378e"
            ]
        ]
    },
    {
        "id": "b745767b866414ed",
        "type": "function",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "6bf937ceb74301d1"
            ]
        ]
    },
    {
        "id": "fdfc61f25c5d4a11",
        "type": "debug",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "6be7543e916974ed",
        "type": "ui_chart",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "group": "0be48250da810b28",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Grafica a través del tiempo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "50",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "da6cded5640f9db9",
        "type": "function",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "6be7543e916974ed"
            ]
        ]
    },
    {
        "id": "b221cc70f3564d7a",
        "type": "ui_switch",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "07f133ac837a40cb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "9de273bf11f6d5f0"
            ]
        ]
    },
    {
        "id": "9de273bf11f6d5f0",
        "type": "mqtt out",
        "z": "6e93f3a1a3a75302",
        "name": "",
        "topic": "codigoIoT/SIC/G5/hugovargas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ca462e86c2aa4086",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "ca462e86c2aa4086",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "18.198.247.0",
        "port": "1883",
        "clientid": "hugo-SIC-44454",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "07f133ac837a40cb",
        "type": "ui_group",
        "name": "Ulimo dato",
        "tab": "16f6fc9f2e154a93",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0be48250da810b28",
        "type": "ui_group",
        "name": "Gráfica",
        "tab": "16f6fc9f2e154a93",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16f6fc9f2e154a93",
        "type": "ui_tab",
        "name": "Flow 4 - G5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
